# Core Framework
# Core Framework
fastapi
uvicorn[standard]

# ORM & Database
sqlalchemy
pymysql
alembic

# Config & Validation
pydantic
pydantic-settings

# Security (for future auth)
python-jose
passlib[bcrypt]

# File Uploads
python-multipart

# Templates / Static serving
jinja2
aiofiles

# Utilities
python-dotenv
